@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  overflow: hidden;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-layout {
  width: 100% !important;
}

.ant-layout-header .ant-menu {
  display: flex !important;
  justify-content: flex-end !important;
}

:where(.css-dev-only-do-not-override-1kf000u).ant-layout-content {
  background-color: #ffffff !important;
}

:host ::ng-deep .ant-drawer-content-wrapper {
  width: 428px;
}

:where(.css-dev-only-do-not-override-1kf000u).ant-slider .ant-slider-rail {
  background-color: #ffffff !important;

}

/* ToolTip Hover */
:where(.css-dev-only-do-not-override-1kf000u).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-1kf000u).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: #4096ff;
  border-color: #4096ff;
  background: #ffffff;
  /* margin-right: 8px; */
}

/* Slider */
:where(.css-dev-only-do-not-override-1kf000u).ant-slider-horizontal .ant-slider-rail {
  height: 10px;
  border-radius: 4px;
}

:where(.css-dev-only-do-not-override-1kf000u).ant-slider-horizontal .ant-slider-track,
:where(.css-dev-only-do-not-override-1kf000u).ant-slider-horizontal .ant-slider-tracks {
  height: 10px;
  border-radius: 4px;
}

:where(.css-dev-only-do-not-override-1kf000u).ant-slider-horizontal .ant-slider-handle {
  display: none;
}

:where(.css-dev-only-do-not-override-1kf000u).ant-slider .ant-slider-track {
  background-color: #259927;
  border-radius: 2px;
}

/* Disabled Slider */
:where(.css-dev-only-do-not-override-1kf000u).ant-slider.ant-slider-disabled .ant-slider-track {
  background-color: #259927 !important;
}

:where(.css-dev-only-do-not-override-1kf000u).ant-slider.ant-slider-disabled .ant-slider-rail {
  background-color: white !important;
}

:where(.css-dev-only-do-not-override-1kf000u).ant-slider.ant-slider-disabled {
  cursor: default !important;
}
